/* Base color style */
body							{ background: $background; }

h1								{ color: $color-highlight; }

nav								{ background: $menu-color; }
nav a							{ background: rgba($menu-link-color, 0.1); color: $menu-link-color; }

a.top:visited					{ background: rgba($button-normal-color, 0.5); color: $color-highlight; }
a.top:hover,
a.top:active					{ background: $color-highlight; color: #fff; }

a.button						{ background: $button-important-color; color: $button-link; }
a.button:hover,
a.button:active					{ background: darken($button-important-color, 10%); }

a.button-normal					{ background: $button-normal-color; color: $button-normal-link; }
a.button-normal:hover,
a.button-normal:active			{ background: darken($button-normal-color, 10%); }

/* Retina image */
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5)	{
	nav							{ background-image: url(black_denim_@2X.png); background-repeat: repeat; background-size: 145px 145px; }
}