/* Dashboard by Stephane Curzi */
/* Copyright 2014 © Stephane Curzi, http://stephanecurzi.me */

/* Import */
@import '_variables';
/* Colors */
@import '_colors';
// @import '_colors+grey';

/* Base type */
body							{ font-family: HelveticaNeue-Light, Helvetica, sans-serif; background: $background; }
h1, h2, h3, h4					{ font-family: 'Montserrat', sans-serif; text-transform: uppercase; font-weight: 700; }
h1, h2							{ margin-top: 0; }

 /* Main */
.page							{ min-width: 20rem; }

/* Title */
h1								{ font-size: 1.5rem; color: $color-highlight; text-align: center; width: 100%; margin: 0; margin-bottom: 1.5rem; float: left; box-sizing: border-box; }

/* Animation */
nav, nav a						{ -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -ms-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out; }

/* Menu */
nav								{ background: $menu-color; background-image: url(black_denim.png); background-repeat: repeat; margin: 0; padding: 1.5rem; width: 100%; height: auto; box-sizing: border-box; }
nav ul							{ width: 100%; margin: 0; padding: 0; box-sizing: border-box; -moz-column-count: 2; -moz-column-gap: .25rem; -webkit-column-count: 2; -webkit-column-gap: .25rem; column-count: 2; column-gap: .25rem; } 
nav li							{ list-style-type: none; margin-bottom: .25rem; }
nav a							{ background: rgba($menu-link-color, 0.1); color: $menu-link-color; line-height: 3rem; text-decoration: none; display: block; -webkit-border-radius: $button-radius; -moz-border-radius: $button-radius; border-radius: $button-radius; }
nav .menu-icons					{ fill: none; stroke-width: $icon-stroke; stroke: $menu-link-color; width: 1.75rem; height: 1.75rem; margin-top: .625rem; margin-left: .625rem; margin-right: .5rem; float: left; }

/* Main content area */
.content						{ margin: 0 auto; padding: 1.5rem; box-sizing: border-box; max-width: 80rem; }
section							{ margin-bottom: 2rem; position: relative; }
section h2						{ color: $title-color; margin-top: 0; }

.grid							{ -moz-column-count: 1; -moz-column-gap: $column-gap; -webkit-column-count: 1; -webkit-column-gap: $column-gap; column-count: 1; column-gap: $column-gap; width: 100%; } 

a.top							{ font-family: 'Montserrat', sans-serif; text-transform: uppercase; font-weight: 400; font-size: 80%; text-decoration: none; padding: .125rem .375rem; position: absolute; top: 0; right: 0; }
a.top:link,
a.top:visited					{ background: $button-normal-color; color: $button-normal-link; }
a.top:hover,
a.top:active					{ background: $color-highlight; color: #fff; }

.icons							{ width: 0; height: 0; display: none; }

/* Buttons */
a.button						{ text-decoration: none; font-size: 1.25rem; line-height: 3rem; height: 3rem; width: 100%; padding: 0 .625rem; margin-bottom: $column-gap; position: relative; -webkit-border-radius: $button-radius; -moz-border-radius: $button-radius; border-radius: $button-radius; display: block; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
a.button						{ background: $button-important-color; color: $button-link; }
a.button:hover,
a.button:active					{ background: darken($button-important-color, 10%); }

a.button-normal					{ background: $button-normal-color; color: $button-normal-link; }
a.button-normal:hover,
a.button-normal:active			{ background: darken($button-normal-color, 10%); }

a.button #icon-arrow			{ fill: none; stroke-width: $icon-stroke; width: 3rem; height: 3rem; position: absolute; top: 0; right: 0; }
a.button-important #icon-arrow	{ stroke: rgba($button-link, .4); }
a.button-normal #icon-arrow		{ stroke: rgba($button-normal-link, .2); }


/* Media queries */
@media only screen and (min-width: 480px)	{
	nav ul						{ -moz-column-count: 3; -webkit-column-count: 3; column-count: 3; } 
}

@media only screen and (min-width: 600px)	{
	.grid						{ -moz-column-count: 2; -webkit-column-count: 2; column-count: 2; } 
}

@media only screen and (min-width: 769px)	{
	nav ul						{ -moz-column-count: 4; -webkit-column-count: 4; column-count: 4; } 
	.grid						{ -moz-column-count: 3; -webkit-column-count: 3; column-count: 3; } 
}

@media only screen and (min-width: 1000px)	{
	.page						{ padding-left: $menu-width; }
	nav							{ margin-left: -$menu-width; width: $menu-width; position: fixed; top: 0; bottom: 0; left: $menu-width; }
	nav ul						{ -moz-column-count: 1; -webkit-column-count: 1; column-count: 1; } 
	.content					{ padding: 1.5rem 3rem; }
	.grid						{ -moz-column-count: 2; -webkit-column-count: 2; column-count: 2; }
	a.button					{ margin-bottom: $column-gap; }
}

@media only screen and (min-width: 1200px)	{
	.grid						{ -moz-column-count: 3; -webkit-column-count: 3; column-count: 3; }
}

@media only screen and (min-width: 1400px)	{
	.grid						{ -moz-column-count: 4; -webkit-column-count: 4; column-count: 4; }
}

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5)	{
	nav							{ background-image: url(black_denim_@2X.png); background-size: 145px 145px; background-repeat: repeat; }
}