/* Dashboard by Stephane Curzi */
/* Copyright 2014 © Stephane Curzi, http://stephanecurzi.me */

/* Import */
@import '_variables';
/* Colors - dont remove _color-base */
@import '_colors-base';

/* Change to the color theme you want */
// @import '_colors-regular';
// @import '_colors-grey';
// @import '_colors-stroke';
@import '_colors-flat';

/* Base type */
body								{ font-family: HelveticaNeue-Light, Helvetica, sans-serif; }
h1, h2, h3, h4						{ font-family: 'Montserrat', sans-serif; text-transform: uppercase; font-weight: 700; }
h1, h2								{ margin-top: 0; }

 /* Main */
.page								{ min-width: 20rem; }

/* Title */
h1									{ font-size: 1.5rem; /*text-align: center;*/ width: 100%; margin: 0; margin-bottom: 1.5rem; float: left; box-sizing: border-box; }

/* Animation */
nav,
nav a								{ -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -ms-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out; }

/* Menu */
nav									{ margin: 0; padding: 1.5rem; width: 100%; height: auto; box-sizing: border-box; float: left; clear: both; }
nav ul								{ width: 100%; margin: 0; padding: 0; box-sizing: border-box; float: left; clear: both; } 
nav li								{ list-style-type: none; margin-bottom: 2%; width: 49%; float: left; box-sizing: border-box; }
nav li:nth-child(2n+1)				{ margin-left: 0; }

nav a								{ line-height: 3rem; text-decoration: none; display: block; -webkit-border-radius: $button-radius; -moz-border-radius: $button-radius; border-radius: $button-radius; }
nav .menu-icons						{ width: 1.75rem; height: 1.75rem; margin-top: .625rem; margin-left: .625rem; margin-right: .5rem; float: left; }

/* Main content area */
.content							{ margin: 0 auto; box-sizing: border-box; max-width: 80rem; }
section								{ width: 100%; padding: 1.5rem; position: relative; float: left; clear: both; box-sizing: border-box; }
section h2							{ margin-top: 0; }

/* Button grid */
.grid								{ padding: 0; margin: 0; width: 100%; float: left; clear: both; }
.grid li							{ list-style-type: none; width: 100%; float: left; box-sizing: border-box; /*margin-left: 2%;*/ }

a.top								{ font-family: 'Montserrat', sans-serif; text-transform: uppercase; font-weight: 400; font-size: 80%; text-decoration: none; padding: .375rem; position: absolute; top: 0; right: 0; }
.icons								{ width: 0; height: 0; display: none; }

/* Menu */
@media only screen and (min-width: 1000px)	{
	.page									{ padding-left: $menu-width; }
	nav										{ margin-left: -$menu-width; width: $menu-width; position: fixed; top: 0; bottom: 0; left: $menu-width; }
	.content								{ padding: 0 3rem; }
	section									{ padding: 3rem 0; }
}

/* Grid */
@media only screen and (min-width: 480px)	{
	.grid li								{ width: 49%; margin-left: 2%; }
	.grid li:nth-child(2n+1)				{ margin-left: 0; }
	nav li									{ width: 32%; margin-left: 2%; }
	nav li:nth-child(2n+1)					{ margin-left: 2%; }
	nav li:nth-child(3n+1)					{ margin-left: 0; }
}

@media only screen and (min-width: 600px)	{
	.grid li								{ width: 49%; }
	.grid li:nth-child(2n+1)				{ margin-left: 0; }
}

@media only screen and (min-width: 769px)	{
	nav li									{ width: 23.5%; }
	nav li:nth-child(3n+1)					{ margin-left: 2%; }
	nav li:nth-child(4n+1)					{ margin-left: 0; }

	.grid li								{ width: 32%; }
	.grid li:nth-child(2n+1)				{ margin-left: 2%; }
	.grid li:nth-child(3n+1)				{ margin-left: 0; }

}

@media only screen and (min-width: 1000px)	{
	nav li									{ width: 100%; margin-left: 0; }
	nav li:nth-child(2n+1),
	nav li:nth-child(3n+1),
	nav li:nth-child(4n+1)					{ margin-left: 0; }

	.grid li								{ width: 49%; }
	.grid li:nth-child(3n+1)				{ margin-left: 2%; }
	.grid li:nth-child(2n+1)				{ margin-left: 0; }
}

@media only screen and (min-width: 1200px)	{
	.grid li								{ width: 32%; }
	.grid li:nth-child(2n+1)				{ margin-left: 2%; }
	.grid li:nth-child(3n+1)				{ margin-left: 0; }
}

@media only screen and (min-width: 1440px)	{
	.grid li								{ width: 23.5%; }
	.grid li:nth-child(3n+1)				{ margin-left: 2%; }
	.grid li:nth-child(4n+1)				{ margin-left: 0; }
}