<div class="group" id="group-one">
	<h2><!-- $group-1-name | Email --></h2>
	<span class="list">
		<a href="" class="button button-normal">Testing</a>
		<a href="" class="button button-normal">Testzdfgding</a>
		<a href="" class="button button-normal">Testzdfgdfing</a>
		<a href="" class="button button-normal">Testdzfhdzing</a>
		<a href="" class="button button-small">Testzdfging</a>
		<a href="" class="button button-small">Teszdfgdfting</a>
		<a href="" class="button button-small">Tesfhzzdfhzdhdting</a>
	</span>
</div>