$menu-size:				16rem;
$menu-color:			#222;

$color-link:			rgba(255, 255, 255, 1);
$color-link-menu:		rgba(255, 255, 255, 0.5);
$color-highlight:		rgb(250, 110, 78);

$color-button:			rgb(74, 144, 226);
$color-button-gray:		rgb(187, 187, 187);

$column-gap:			2.5rem;
