/* Dashboard by Stephane Curzi */
/* Copyright 2014 © stephanecurzi.me */


// Variables


/* Import */
@import '_user-style';
@import '_menu';

/* Base type */
body				{ font-family: HelveticaNeue-Light, Helvetica, sans-serif;; }
h1, h2, h3, h4		{ font-family: 'Montserrat', sans-serif; text-transform: uppercase; letter-spacing: .125rem; font-weight: normal; }

/* side menu */
header				{ background: $color-highlight; width: 100%; height: 4.5rem; margin: 0; padding: 0; text-align: center; }
header h1			{ font-size: 1.75rem; color: #fff; margin: 0; padding: 0; line-height: 4.5rem; }

nav ul				{ margin: .375rem 0 0 0; padding: 0; }
nav li				{ list-style-type: none; line-height: 3rem; }
nav a				{ padding: 0 1.875rem; line-height: 3rem; font-size: 1.125rem; display: block; }

nav a				{ color: $color-link-menu; text-decoration: none; }
nav a:link,
nav a:visited		{ color: $color-link-menu; }
nav a:hover,
nav a:active		{ color: $color-highlight; }

/* Base group styling, do not touch */
.group				{ display: inline-block; width: 100%; }
.group h2			{ font-size: 1.25rem; color: $color-highlight; }
.list				{ margin: 0; padding: 0; }

a.button					{ width: 100%; padding: 0 .625rem; margin-bottom: .625rem; -webkit-border-radius: .125rem; -moz-border-radius: .125rem; border-radius: .125rem; display: block; box-sizing: border-box; }
a.button-normal				{ line-height: 3.75rem; /*padding-top: .75rem;*/ }
a.button-small				{ line-height: 2.5rem; }

a.button					{ text-decoration: none; color: $color-link; font-size: 1.25rem; }
a.button-normal:link,
a.button-normal:visited		{ background: $color-button; color: $color-link; }
a.button-normal:hover,
a.button-normal:active		{ background: darken( $color-button, 10% ); color: $color-link; }

a.button-small:link,
a.button-small:visited		{ background: $color-button-gray; color: $color-link; }
a.button-small:hover,
a.button-small:active		{ background: darken( $color-button-gray, 10% ); color: $color-link; }


.content			{ padding-top: 2rem; }


/* Media queries */

/*  480px breakpoint  */
@media only screen and (min-width: 480px)	{
	#grid	{
		-moz-column-count: 1; -moz-column-gap: $column-gap;
		-webkit-column-count: 1; -webkit-column-gap: $column-gap;
		column-count: 1; column-gap: $column-gap; width: 100%;
	}  
}

/*  600px breakpoint  */
@media only screen and (min-width: 600px)	{
	#grid	{
		-moz-column-count: 2; -moz-column-gap: $column-gap;
		-webkit-column-count: 2; -webkit-column-gap: $column-gap;
		column-count: 2; column-gap: $column-gap; width: 100%;
	}  
}

/*  768px breakpoint  */
@media only screen and (min-width: 769px)	{
	#grid	{
		-moz-column-count: 3; -moz-column-gap: $column-gap;
		-webkit-column-count: 3; -webkit-column-gap: $column-gap;
		column-count: 3; column-gap: $column-gap; width: 100%;
	}  
}

/*  1024px breakpoint  */
@media only screen and (min-width: 1025px)	{
	#grid	{
		-moz-column-count: 4; -moz-column-gap: $column-gap;
		-webkit-column-count: 4; -webkit-column-gap: $column-gap;
		column-count: 4; column-gap: $column-gap; width: 100%;
	}  
}

/*  1440px breakpoint  */
@media only screen and (min-width: 1440px) {
	#grid	{
		-moz-column-count: 5; -moz-column-gap: $column-gap;
		-webkit-column-count: 5; -webkit-column-gap: $column-gap;
		column-count: 5; column-gap: $column-gap; width: 100%;
	}  
}